

<body>
<div class="orders">
    <div class="row">
        <div class="col-md-12">
           <div class="table-responsive"></div>
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #ddd">
                        <th scope="col">Order Id</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Order Date</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>123456784567</td>
                        <td>RedMI Note4<div class="product-image"><img src="mobile.png" alt="" class="img-responsive"></div></td>
                        <td>120000</td>
                        <td>2</td>
                        <td>12-05-2018</td>
                        <td>
                            <select class="custom-select form-control" name="Status">
                                <option value="Delivered" selected>Delivered</option>
                                <option value="Pending">Pending</option>
                                <option value="Pending">Onhold</option>
                                <option value="Pending">Canceled</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>123456784567</td>
                        <td>RedMI Note4 <div class="product-image"><img src="mobile.png" alt="" class="img-responsive"></div></td>
                        <td>120000</td>
                        <td>2</td>
                        <td>12-05-2018</td>
                        <td>
                            <select class="custom-select form-control" name="Status">
                                <option value="Delivered" selected>Delivered</option>
                                <option value="Pending">Pending</option>
                                <option value="Pending">Onhold</option>
                                <option value="Pending">Canceled</option>

                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>123456784567</td>
                        <td>RedMI Note4<div class="product-image"><img src="mobile.png" alt="" class="img-responsive"></td>
                        <td>120000</td>
                        <td>2</td>
                        <td>12-05-2018</td>
                        <td>
                            <select class="custom-select form-control" name="Status">
                                <option value="Delivered" selected>Delivered</option>
                                <option value="Pending">Pending</option>
                                <option value="Pending">Onhold</option>
                                <option value="Pending">Canceled</option>

                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block">Add Order</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary btn-block">Save Changes</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary  btn-block">Delete Selected Order</button>
        </div>
    </div>
    </div>


</body>

